@import "main.css";
.content {
    width: 100%;
    margin: 100px auto;
    min-height: 75vh;
}

.faqs {
    width: 80%;
    margin: auto;
    color: #708090;
    line-height: 1rem;
}

.faqs h3 {
    background: #999;
    color: #f4f4f4;
    font-size: 0.6rem;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

.faqs h3:hover {
    background: #bc8f8f;
    color: #f4f4f4;
    padding: 0.5rem 0;
}

.faqs .open {
    display: none;
    font-family: 'Kaushan Script', cursive;
    font-size: 0.5rem;
    padding-bottom: 1rem;
    font-style: italic;
}

.faqs p {
    font-style: italic;
    font-size: 0.5rem;
}

@media (min-width: 750px) {
    .faqs {
        padding-left: 30px;
    }
    .faqs h3 {
        font-size: 0.8rem;
        width: 65%;
        margin: 2rem auto;
    }
    .faqs p {
        width: 65%;
        margin: auto;
    }
    .faqs .open {
        font-size: 0.8rem;
    }
}
